<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.campus.grid.mapper.GPSMapper">

	<resultMap id="GPSMap" type="com.campus.grid.api.entity.GPS">
		<id property="id" column="id"/>
		<result property="merchant_id" column="merchant_id"/>
		<result property="device_id" column="device_id"/>
		<result property="trip_id" column="trip_id"/>
		<result property="user_id" column="user_id"/>
		<result property="version" column="version"/>
		<result property="longtitude" column="longtitude"/>
		<result property="altitude" column="altitude"/>
		<result property="speed" column="speed"/>
		<result property="state" column="state"/>
		<result property="location" column="location"/>
		<result property="time" column="time"/>
		<result property="heading" column="heading"/>
		<result property="uuid" column="uuid"/>
	</resultMap>
</mapper>