<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.campus.grid.mapper.SchoolBusMapper">

	<sql id="SchoolBusEdField">
		school_bus_id,
		ed_type,
		ed_flag,
		lon,
		crash_time,
		pitch,
		lane_type,
		merchant_id,
		ped_num,
		trip_id,
		uuid,
		speed,
		yaw,
		ped_state,
		version,
		h,
		type,
		roll,
		time,
		y,
		lane_state,
		eye_close,
		lat,
		ped_dis,
		endpoint,
		url,
		lane_width,
		mouth_distance,
		lane_ttc,
		w,
		lane_curve,
		x,
		lane_dis,
		heading,
		altitude,
		user_id,
		device_id,
		fatigue_type,
		lane_mid_offset,
		car_state,
		smoke_phone,
		car_dis,
		front_img,
		back_img,
		back_video,
		front_video
	</sql>

	<sql id="FieldValue">
		#{school_bus_id},
		#{edtype},
		#{edflag},
		#{lon},
		#{crash_time},
		#{pitch},
		#{lane_type},
		#{merchantId},
		#{ped_num},
		#{tripId},
		#{uuid},
		#{speed},
		#{yaw},
		#{ped_state},
		#{version},
		#{h},
		#{type},
		#{roll},
		#{time},
		#{y},
		#{lane_state},
		#{eye_close},
		#{lat},
		#{ped_dis},
		#{endpoint},
		#{url},
		#{lane_width},
		#{mouth_distance},
		#{lane_ttc},
		#{w},
		#{lane_curve},
		#{x},
		#{lane_dis},
		#{heading},
		#{altitude},
		#{userid},
		#{deviceId},
		#{fatigue_type},
		#{lane_mid_offset},
		#{car_state},
		#{smoke_phone},
		#{car_dis},
		#{front_img},
		#{back_img},
		#{back_video},
		#{front_video}
	</sql>

	<insert id="saveSchoolBusEd" parameterType="com.campus.grid.api.entity.SchoolBusEd">
		INSERT INTO
		grid_school_bus_ed
		(school_bus_id,
		ed_type,
		ed_flag,
		lon,
		crash_time,
		pitch,
		lane_type,
		merchant_id,
		ped_num,
		trip_id,
		uuid,
		speed,
		yaw,
		ped_state,
		version,
		h,
		type,
		roll,
		time,
		y,
		lane_state,
		eye_close,
		lat,
		ped_dis,
		endpoint,
		url,
		lane_width,
		mouth_distance,
		lane_ttc,
		w,
		lane_curve,
		x,
		lane_dis,
		heading,
		altitude,
		user_id,
		device_id,
		fatigue_type,
		lane_mid_offset,
		car_state,
		smoke_phone,
		car_dis,
		front_img,
		back_img,
		back_video,
		front_video)
		VALUES
		(#{school_bus_id},
		#{edtype},
		#{edflag},
		#{lon},
		#{crash_time},
		#{pitch},
		#{lane_type},
		#{merchantId},
		#{ped_num},
		#{tripId},
		#{uuid},
		#{speed},
		#{yaw},
		#{ped_state},
		#{version},
		#{h},
		#{type},
		#{roll},
		#{time},
		#{y},
		#{lane_state},
		#{eye_close},
		#{lat},
		#{ped_dis},
		#{endpoint},
		#{url},
		#{lane_width},
		#{mouth_distance},
		#{lane_ttc},
		#{w},
		#{lane_curve},
		#{x},
		#{lane_dis},
		#{heading},
		#{altitude},
		#{userid},
		#{deviceId},
		#{fatigue_type},
		#{lane_mid_offset},
		#{car_state},
		#{smoke_phone},
		#{car_dis},
		#{front_img},
		#{back_img},
		#{back_video},
		#{front_video} )
	</insert>


	<select id="queryPage" resultType="com.campus.grid.api.entity.SchoolBusEd">
		select * from grid_school_bus_ed
		<if test="edtype == 1 or edtype == 2 or edtype == 3 ">
			where ed_type = #{edtype}
		</if>
		LIMIT #{startIndex},#{pageSize}
	</select>

	<select id="getTotal" resultType="int">
		 SELECT count(*) FROM grid_school_bus_ed
	</select>

</mapper>