<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.admin.mapper.SysDeptMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.campus.admin.api.entity.SysDept">
		<id column="dept_id" property="deptId"/>
		<result column="name" property="name"/>
		<result column="sort" property="sort"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="del_flag" property="delFlag"/>
		<result property="province" column="province"/>
		<result property="city" column="city"/>
		<result property="county" column="county"/>
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
        dept_id AS deptId, parent_id AS parentId, name, sort, create_time AS createTime,
         update_time AS updateTime, del_flag AS delFlag, province, city, county
    </sql>

	<!--关联查询部门列表-->
	<select id="listDepts" resultType="com.campus.admin.api.entity.SysDept">
		SELECT
			t.*
		FROM
			sys_dept t
		LEFT JOIN sys_dept_relation dr ON t.dept_id = dr.descendant
		WHERE dr.ancestor = 0
	</select>

	<!--根据部门id获取部门名称-->
	<select id="selectDeptNameById" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT name FROM sys_dept WHERE dept_id=#{deptId}
	</select>
</mapper>
